body {
  margin: 0;
}

nav {
  width: 100%;
  background-color: #6e072d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  padding: 18px calc(18px * 1.5);
  border-right: 2px solid white;
}
li {
  cursor: pointer;
}

li:hover {
  background-color: #b90e4d;
}


.left li:last-child {
  border-right: none;
}

.right li {
  border-right: none;
  border-left: 2px solid white;
}

.right li:first-child {
  border-left: none;
}

li:hover {
  background-color: #b90e4d;
  cursor: pointer;
}

